<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">
        <p v-if="show">You can see me</p>
        <p v-else>Now you can see me</p>
        <template v-if="show">
            <p>Inside template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button @click="show=!show">Switch</button>
        <hr />
        <ul>
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ingredient}} ({{ i + 1 }})</li>
        </ul>
        <template v-for="(ingredient, i) in ingredients">
            <p>Ingredient in template {{ingredient}} ({{ i + 1 }})</p>
        </template>
        <button @click="ingredients.push('spices')">Add New</button>
        <ul>
            <li v-for="person in persons">{{person.name}} / {{person.age}} </li>
            <li v-for="person in persons">
                <div v-for="(value, key, i) in person">({{i}}) - {{key}} : {{value}}</div>
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
</body>

</html>